html, body {
    height: 100%;
}

body {
    position: relative;
}

header {
    visibility: hidden;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transition:visibility 0.5s linear,opacity 0.5s linear;
}

header.scroll {
    height: 200px;
}

.fundo-logo {
    background-image: url('img/background-1.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}

main {  
    background:white;
    flex: 1 1 500px;
    margin-top: 400px;
}

section {
    margin: 15px 0;
    border-bottom: 1px solid black;
}

#navigator {
    align-self: flex-end;
    margin-right: 8px;
}

section.event {
    flex-wrap: wrap;
}

section.event > * {
    flex: 1 0 250px;
}

div.botoes {
    padding: 0 10px;
}

div.botoes a {
    margin: 5px 0;
}

div.tab-pane { margin: 0.8em 0}

div.tab-content {
    flex: 1;
    overflow: auto;
}

div.flex-row {
    height: 100%;
}
