html, body {
    height: 100%;
}

body {
    display: flex;
    flex-flow: column nowrap;
}

header.header {
    flex: 0 0 auto;
    display:none;
    padding: 0.5em;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    background-image: url('img/background.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    font-weight: bold;
    color: #CECECE;
}

header.header h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
}

header.header p {
    font-size: 150%;
}

main {
    position: relative;
    background:#CCC;
    flex: 1 1 auto;
    vertical-align: middle;
    background-position: center;
    /*display: flex;*/
    display:none;
    justify-content: center;
    align-items: stretch;
}

footer.footer {
    flex: 0 0 auto;
    display:none;
    background: black;
    color: white;
    font-weight: bold;
}

header, footer, main {
    transition:  opacity .15s linear;
}

section.papers {
    margin: 1.2em;
    flex: 1 1 0;
    border-radius: 5px;
    background: white;
}

div.tab-pane { margin: 0.8em 0}

div.flex-row {
    height: 100%;
}