html, body {
    height: 100%;
}

header.header {
    display:none;
    min-height: 300px;
    background-image: url('img/pannano-background-2-big.jpg');
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    flex-flow: column;
    justify-content: flex-end;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

header.header.scroll {
    min-height: 260px;
}

header.header h1 {
    font-family: "Montserrat";
    text-transform: uppercase;
}

div.program {
    margin: 5px 0;
    text-align: right;
}

main {  
    position: relative;
    background:white;
    flex: 1 1 500px;
    /*display: flex;*/
    margin-top: 300px;
    display:none;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: stretch;
}

main.scroll {
    margin-top: 250px;
}

footer.footer {
    flex: 0 0 auto;
    display:none;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
}

header, footer, main {
    transition:  opacity .15s linear;
}

section.papers {
    margin: 1.2em;
    flex: 1 1 0;
    border-radius: 5px;
    background: white;
    overflow: hidden;
}

div.tab-pane { margin: 0.8em 0}

div.tab-content {
    flex: 1;
    overflow: auto;
}

div.flex-row {
    height: 100%;
}
