div.split-panel {
    flex: 50%;
    margin: 0 0.3em;
}

div.list-group {
    max-height: 500px;
    overflow-y: auto;
    display: block;
}

div.list-group button {
    cursor: pointer;
}

div.list-group button:nth-child(even) {
    background: #CECECE;
}

div.form-group {
    flex: 0 0 auto;
}