section.organization {
    text-align: center;
}

div.orgs {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

img.organization {
    width: 200px;
    margin: 15px;
}